<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DedicatedFTPServerValheim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DedicatedFTPServerValheim.Properties.Settings>
            <setting name="PathBat" serializeAs="String">
                <value />
            </setting>
            <setting name="PathTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="PathFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayPostion" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveParamFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </DedicatedFTPServerValheim.Properties.Settings>
    </userSettings>
</configuration>